<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link rel="stylesheet" href="/assets/styles/reset.css">
    <title>Resources not found - ERROR 404</title>
</head>
<body>
    <main class="flex flex-col justify-center align-center w-full h-full">
        <div>
            <h1 class="text-center">Oups... the route you request does not exist</h1>
        </div>
        <div>
            <p class="text-center">Please try another route!</p>
            <img class="pic" src="/assets/pictures/pngegg.png" alt="">
        </div>
    </main>
</body>
</html>
