<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/global.css">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link rel="stylesheet" href="/assets/styles/reset.css">
    <title>Welcome to your NodeJs Api</title>
</head>
<body>
    <main class="flex flex-col justify-center align-center w-full h-full">
        <div>
            <h1 class="text-center">Welcome to our Node js Rest Api Sample</h1>
        </div>
        <div>
            <p class="text-center">Here is your default page, you can customize it as you want</p>
            <img class="pic" src="/assets/pictures/Expressjs.svg" alt="nodejs-express logo">
        </div>
    </main>
</body>
</html>
